<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog create</title>
</head>
<body>
    <h1>blog create</h1>
    <h2>Write Post Page</h2>
    <form action="/blog/create/" method="post" id="blog-create">
        {% csrf_token %}
        Title: <input type = "text" name="title"/>
        <input type="submit"/>

    </form>
    <textarea name="content" form="blog-create">Enter content</textarea>
</body>
</html>