<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog edit</title>
</head>
<body>
    <h1>blog edit</h1>
    <h2>edit Post Page</h2>
    <form action="/blog/post-edit/{{ post.id }}/" method="post" id="blog-edit" enctype="multipart/form-data">
        {% csrf_token %}
        Title:<input type = "text" name="title" value="{{ post.title }}"/>
        {% if post.header_image %}
        <div style="width: 600px;">
            <image src="{{ post.header_image.url }}" style="width: 100%"/>
        </div>
        {% endif %}
        <div>Head Image:<input type="file" id="image" name="image" /></div>
        <input type="submit"/>

    </form>
    <textarea name="content" form="blog-edit">{{ post.content }}</textarea>
</body>
</html>