<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog home</title>
</head>
<body>
    <h1>blog home</h1>
    <h2><a href="/blog/create/">생성하기</a></h2>
    {% if post_list %}
    <ol>
        {% for post in post_list %}
        <li><a href = "/blog/post/{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
    </ol>
    {% else %}
    <h4>No Posts</h4>
    {% endif %}
</body>
</html>